doctype html
html
  head
    title Harsh Webport
    block scripts
    block style 
  body
    nav#navbar
      div
        img(src="https://4.bp.blogspot.com/-NrdO50GmrRI/UTb7slDfy5I/AAAAAAAAC5U/2yVIRYAEKcA/s1600/Audi-Logo5.jpg", alt="") 
      ul 
        li #[a(href='/') Home]
        li #[a(href='/') About] 
        li #[a(href='/contect') Content Us] 
      input(type="search", name="search" placeholder="Search")
      button(type="submit" class="btn") submit
    block content
    block footer
     