| doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../style.css')
  title Document
nav.navbar
  h1.logo H@RsH
  ul.navlinks
    li
      a(href='#') Home
    li
      a(href='#') About
    li
      a(href='#') Content us
    li
      a(href='#') Services
  img.menu-btn(src='menu-btn.png')
header
  .head
    h2 Welcome To CodingWorld
    .line
    h1 Hello WebdevlopMent
    button.btn Learn More
section.event
  .tittle
    h1 World
    .line
  .row
    .col
      img(src='../img/img1.png' alt='')
      h3 Arcitecture Ture
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia numquam totam repudiandae veritatis, id neque magnam ullam in.
      a.ctn(href='#') Learn More
    .col
      img(src='../img/img2.png' alt='')
      h3 Natural Ture
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia numquam totam repudiandae veritatis, id neque magnam ullam in.
      a.ctn(href='#') Learn More
section.sec2
  .cont
    h1 World Tour Form
    .line
    form.for(action='#')
      input(type='text' placeholder='Enter Your Name')
      input(type='email' placeholder='Enter Your Emailaddress')
      input(type='number' placeholder='999-999-9999' pattern='999-999-9999' required='')
      input(type='text' placeholder='Enter your address')
      button.ttn
        span
        |  Submit
footer
  .tt
    h1 Copyright &copy; harshpatel.com
script
  include ../script.js