doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  scripts
    script(src='https://www.bing.com/th?id=OIP.jRtWPxIWJvD4MzCb8SosEgAAAA&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2')
  style 
    include ../style.css
  title Document
nav.navbar
  h1.logo H@RsH
  ul.navlinks
    li
      a(href='#') Home
    li
      a(href='#') About
    li
      a(href='#') Content us
    li
      a(href='#') Services
  img.menu-btn(src='https://th.bing.com/th/id/OIP.eQDSOvXEZN6RHnbA6yP7CQHaHa?pid=ImgDet&rs=1')
header
  .head
    h2 Welcome To CodingWorld
    .line
    h1 Hello WebdevlopMent
    button.btn Learn More
section.event
  .tittle
    h1|World
    .line
  .row
    .col
      img(src='https://www.bing.com/images/search?view=detailV2&ccid=kBseD4jd&id=9E5BCBCE1EE33673688C4AB0DA23BF4153C7CF54&thid=OIP.kBseD4jdgCbLZdZzGsc3VQHaHd&mediaurl=https%3a%2f%2fclipground.com%2fimages%2f5-petals-clipart-16.jpg&exph=600&expw=596&q=small+size+img&simid=608046371704865180&FORM=IRPRST&ck=416FAB00C1F5365322D99DFEE7CDA9D3&selectedIndex=3' alt='')
      h3 Arcitecture Ture
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia numquam totam repudiandae veritatis, id neque magnam ullam in.
      a.ctn(href='#') Learn More
    .col
      img(src='img2.png' alt='')
      h3 Natural Ture
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia numquam totam repudiandae veritatis, id neque magnam ullam in.
      a.ctn(href='#') Learn More
section.sec2
  .cont
    h1 World Tour Form
    .line
    form.for(action='#')
      input(type='text' placeholder='Enter Your Name')
      input(type='email' placeholder='Enter Your Emailaddress')
      input(type='number' placeholder='999-999-9999' pattern='999-999-9999' required='')
      input(type='text' placeholder='Enter your address')
      button.ttn
        span
        |  Submit
footer
  .tt
    h1 Copyright &copy; harshpatel.com
script
  include ../script.js