//- doctype html
//- html
//-   head
//-     style
//-       include ../style.css
//-   body
//-     nav#navbar
//-       div
//-         img(src="https://4.bp.blogspot.com/-NrdO50GmrRI/UTb7slDfy5I/AAAAAAAAC5U/2yVIRYAEKcA/s1600/Audi-Logo5.jpg", alt="") 
//-       ul 
//-         li #[a(href='/') Home]
//-         li #[a(href='/') About] 
//-         li #[a(href='/content') Content Us] 
//-       input(type="search", name="search" placeholder="Search")
//-       button(type="submit" class="btn") submit 
//-     section#introSection
//-       div|Our Main Web...
//-       div.small| Health Is Good.
//-     section#sponsorsSection
//-       div.cla 
//-         h3 FACEBOOK.PNG
//-         div.card-box
//-           div.card-img
//-            img(src="https://th.bing.com/th/id/R.3b9ffc3b03aa9a34c5d31a19033e592e?rik=pn%2fUBLqPfneGXg&riu=http%3a%2f%2fwww.newdesignfile.com%2fpostpic%2f2011%2f07%2fblack-and-white-facebook-logo-icon_366551.png&ehk=%2f4LRd1XigxnNVhVfW4V7L6uw7lFAp1J5tGBQisu1cdU%3d&risl=&pid=ImgRaw&r=0", alt="This load again")
//-           div.card-content
//-             | This Is Facebook Picture.
//-             br
//-             | FB Owener By Harsh Patel..
//-       div.cla 
//-         h3|ANIMAL.PNG
//-         .card-box1 
//-           .card-img1 
//-             img(src="https://clipground.com/images/instagram-logo-png-transparent-6.jpg", alt="This pic should be load again")
//-           .card-content1 
//-             | This Is About Animal..
//-       div.cla 
//-         h3|TWITTER.PNG
//-           .card-box2 
//-             .card-img2 
//-               img(src="https://www.pngkey.com/png/detail/84-842567_twitter-logo-black-and-white-png-twitter-logo.png", alt="")  
//-             .card-content2 
//-               | This is Twitter Logo.
//-               br
//-               //- |Some Few Days Before Alonmusk Buy Twitter but Some Resoan It's Not..
//-     footer#footer
//-       .pic 
//-         img(src="https://static.vecteezy.com/system/resources/previews/000/582/035/original/copyright-symbol-icon-vector-illustration.jpg", alt="")
//-       .con
//-         h1 This Is Copyright Issu
//-         h3 Harsh © harshacadamy.com Copiright...
//-     script
//-       include ../index.js
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="logo">H@RsH</h1>
        <ul class="navlinks ">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Content us</a></li>
            <li><a href="#">Services</a></li>
        </ul>
        <img src="menu-btn.png"  class="menu-btn">
    </nav>
    <header>
        <div class="head">
            <h2>Welcome To CodingWorld</h2>
            <div class="line"></div>
            <h1>Hello WebdevlopMent</h1>
            <button class="btn">Learn More</button>
        </div>
    </header>
    <section class="event">
        <div class="tittle">
            <h1>World</h1>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../img/img1.png" alt="">
                <h3>Arcitecture Ture</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia numquam totam repudiandae veritatis, id neque magnam ullam in.</p>
                <a href="#" class="ctn">Learn More</a>
            </div>
            <div class="col">
                <img src="../img/img2.png" alt="">
                <h3>Natural Ture</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia numquam totam repudiandae veritatis, id neque magnam ullam in.</p>
                <a href="#" class="ctn">Learn More</a>
            </div>
        </div>

    </section>
    <section class="sec2">
        <div class="cont">

            <h1>World Tour Form</h1>
            <div class="line"></div>
            <form action="#" class="for">
                <input type="text" placeholder="Enter Your Name">
                <input type="email" placeholder="Enter Your Emailaddress">
                <input type="number"" placeholder="999-999-9999" pattern="999-999-9999" required
                minlength="10" maxlength="10">
                <input type="text" placeholder="Enter your address">
                <button class="ttn"> <span></span> Submit</button>
                
            </form>
        </div>
    </section>
    <footer>
        <div class="tt">

            <h1>Copyright &copy; harshpatel.com</h1>
        </div>
    </footer>
   
</body>
<script>
    const menubtn=document.querySelector(".menu-btn");
    const navlink=document.querySelector(".navlinks");
    menubtn.addEventListener('click',()=>{
        navlink.classList.toggle('mobile');
    })
</script>
</html>